<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338526379474-3gm4j1kdfgq3o8qtng0g21irti75gegp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338526379474-3gm4j1kdfgq3o8qtng0g21irti75gegp</string>
	<key>API_KEY</key>
	<string>AIzaSyBb287CwR-rShViXxrpE9UYRzH301a0zhc</string>
	<key>GCM_SENDER_ID</key>
	<string>338526379474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.doy.bahrainapp</string>
	<key>PROJECT_ID</key>
	<string>doytech-show</string>
	<key>STORAGE_BUCKET</key>
	<string>doytech-show.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338526379474:ios:242e9aa05c427e01a9fc0b</string>
	<key>DATABASE_URL</key>
	<string>https://doytech-show.firebaseio.com</string>
</dict>
</plist>